<div class="flex flex-column p-2">

  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchHero()"
    />
  </mat-form-field>

  <div *ngIf="heroes.length === 0 && searchInput.value && searchInput.value.length > 0">
    No se encontró nada con el término {{ searchInput.value }}
  </div>

  <div class="heroes-grid">
    <div *ngFor="let hero of heroes" class="hero-card">
      <heroes-hero-card [hero]="hero"></heroes-hero-card>
    </div>
  </div>

  {{ selectedHero | json }}

</div>
